[Unit]
Description=smartpi_exporter
Documentation=https://github.com/pberndro/smartpi_exporter

[Service]
User=smartpi
SupplementaryGroups=i2c gpio
DynamicUser=yes
WorkingDirectory=/etc/smartpi_exporter
ExecStartPre=-!/usr/bin/cp /boot/smartpi.ini /etc/smartpi_exporter/smartpi.ini
ExecStart=/usr/bin/smartpi_exporter
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
