[Unit]
Description=copy /boot/*.network to /run/systemd/network
Before=systemd-networkd.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /run/systemd/network
ExecStart=/usr/bin/find /boot/ -maxdepth 1 -name '*.netdev' -type f -exec /usr/bin/cp -p -f {} /run/systemd/network/ +
ExecStart=/usr/bin/find /boot/ -maxdepth 1 -name '*.network' -type f -exec /usr/bin/cp -p -f {} /run/systemd/network/ +

[Install]
WantedBy=systemd-networkd.service
